$breakpoint-x-small: 250px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;

//NAVIGATION
@media (max-width: 768px) {
  .navigation {
    grid-template-columns: 1fr; 
    display: block;
    height: 100%;
    width: 100%;
  }
}


  
@media (max-width: 350px) {
  .navigation {
    .nav-links-container{
      .nav-link{
        font-size: small;
      }
    }
  }
  .nav-links-container{
    grid-template-columns: 1fr; 
    display: block;
    height: 100%;
  }
}


//DIRECTORY
@media(max-width:450px){
  .directory-item-container .body h2 {
    font-weight: bold;
    margin: 0 6px 0;
    font-size: 10px;
 
   .body p {
   
      font-size: 9px;
      text-align: center;
  }
}
}
// CATEGORY PREVIEW
@media(max-width:450px){
  .category-preview-container {
    width: 100%;
    margin: auto;
    .preview{
      display: block;
    }
    .title {
      font-size: 22px;
      margin-bottom: 25px;

  }
  }
  .category-container {
    display: block;
    width: 100%;
    margin: auto;
}
.product-card-container button {
  width: 69%;
  opacity: 0.7;
  position: absolute;
  top: 206px;
  display: none;
  padding: 18px ;
}
.button-container {
  min-width: 165px;
  width: auto;
  // height: 50px;
  letter-spacing: 0.5px;
  line-height: 5px; 
  padding: 0 5px 0 5px;
  font-size: 14px;
  background-color: purple;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.button-container.inverted:hover {
  padding: 17px;
  font-size: 10.5px;
}
.button-container.inverted{
  padding: 17px;
  font-size: 10.5px;
}
.button-container.google-sign-in {
  padding: 24px;
}
.button-container.google-sign-in:hover {
  padding: 24px;
}
.directory-item-container .body p {
  font-weight: lighter;
  font-size: 10px;
  text-align: center;
}
}

@media (max-width: 768px) {
  .authentication-container {
    width: 100%;
    // justify-content: space-between;
    margin: 30px auto !important;
    flex-direction: column;
  }
  
  .sign-up-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 5px;
  }
  .sign-up-container {
    width: 100%; /* Set to full width for stacking on small screens */
  }
  .responsive-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  
  .break-line::before {
    content: '\A'; /* Unicode character for a line break */
    white-space: pre;
  }
  
}

//CHECKOUT-CONTAINER
@media (max-width:950px) {
  .checkout-container {
    width: 100%;
    .total {
      font-size: 30px;
    }
}
.checkout-container .checkout-header {
  font-size: 20px;
}
.checkout-item-container {
  font-size: 18px;
}

}

@media (max-width:630px) {
  .checkout-container {
    width: 100%;
    .total {
      font-size: 26px;
    }
}
.checkout-container .checkout-header {
  font-size: 10px;
}
.checkout-item-container {
  font-size: 12px;
}

}

@media (max-width:369px) {
  .checkout-container {
    width: 100%;
    .total {
      font-size: 24px;
    }
}
.checkout-container .checkout-header {
  font-size: 8px;
}
.checkout-item-container {
  font-size: 8px;
}

}
@media (max-width:290px) {
  .checkout-container {
    width: 100%;
    .total {
      font-size: 24px;
    }
}
.checkout-container .checkout-header {
  font-size: 6px;
}
.checkout-item-container {
  font-size: 8px;
}

}



@media (max-width:769px) {
  .cart-dropdown-container {
    width: 43%;
    height: 340px;
    top: 208px;
    z-index: 5;
    left: 140px;
  }
  .cart-dropdown-container button {
    margin-top: auto;
    font-size: 8px;
    height: 32px;

}
}
@media (max-width: 460px){
  .cart-dropdown-container {
    width: 51%;
    height: 340px;
    top: 255px;
    z-index: 5;
    left: 103px;
}
}
@media (max-width: 360px){
  .cart-dropdown-container {
    width: 72%;
    height: 340px;
    top: 227px;
    z-index: 5;
    left: 36px;
  }
  button.button-container.undefined {
    padding: 10px;
}

}

@media (max-width: 1400px){
  .button-container {
    min-width: 119px;
    height: 37px;
    letter-spacing: 0.5px;
    line-height: 32px;
    padding: 3px 8px 0 8px;
    font-size: 10px;
    text-align: center;
  }
}
@media (max-width: 640px){
  .button-container {
    min-width: 69px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 14px;
    padding: 8px 3px 0 5px;
    font-size: 10px;
    text-align: center;

  }
  .product-card-container button {
    width: 66%;
    opacity: 0.7;
    position: absolute;
    top: 242px;
    display: none;
}
}
@media (max-width: 260px){
  .button-container {
    min-width: 69px;
    height: 65px;
    letter-spacing: 0.5px;
    line-height: 10px;
    padding: 8px 3px 0 5px;
    font-size: 10px;
    text-align: center;

  }
  .product-card-container button {
    width: 56%;
    opacity: 0.7;
    position: absolute;
    top: 224px;
    display: none;
}
}
@media (max-width: 1800px){
.directory-item-container .body {
  height: 127px;
  padding: 5px;
}
}